<div class='ms-5'>

  <div class='my-3 mb-2'><h1>{{name}}</h1></div>

  <div class='mt-4'>birthdate: {{birthdate}}</div>

  <div class='mt-4'>birthplace: {{birthplace}}</div>

  <div class='mt-4'>deathdate: {{deathdate}}</div>

  <div class='mt-4'>deathplace: {{deathplace}}</div>

  <div class='mt-4'>nationality: {{nationality}}</div>

  <div class='mt-4'>occupation: {{occupation}}</div>

  <hr />
  <div>
    <ul>
      Known_for:
      {{#each known_for}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <ul>
      Education:
      {{#each education}}
        <li>
          {{degree}},
          {{field}},
          {{institution}},
          {{year}}
        </li>
      {{/each}}
    </ul>
    <ul>
      Notable publications:
      {{#each notable_publications}}
        <li>
          {{title}},
          {{year}},
          {{publisher}}
        </li>
      {{/each}}
    </ul>

    <ul>
      Partners:
      {{#each partners}}
        <li>
          {{name}},
          {{relationship}},
          {{years}}
        </li>
      {{/each}}
    </ul>

    <ul>
      Awards:
      {{#each awards}}
        <li>
          {{title}},
          {{year}},
          {{description}}
        </li>
      {{/each}}
    </ul>

    <ul>
      Influences:
      {{#each influences}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>

    <ul>
      Influenced:
      {{#each influenced}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>

    <ul>
      Quotes:
      {{#each quotes}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>

    <ul>
      Major discoveries:
      {{#each major_discoveries}}
        <li>
          {{title}},
          {{year}},
          {{description}}
        </li>
      {{/each}}
    </ul>

    <ul>
      Contributions:
      {{#with contributions}}
        <li>
          {{title}},
          {{description}},
          {{year}},
          {{field}}
        </li>
      {{/with}}
    </ul>
  </div>

</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}