<div class='ms-5'>
  <main>
    <section>
      {{> title data='Notebooks' big=true}}
      <hr>

        <div class="card" style="width: 38rem;">
          <img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFjYm9vayUyMHByb3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="Apple MacBook Pro">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text mt-2"><div>{{description}}</div> 
      <div class="mt-4">price: {{price}}</div>
      <div class="mt-4">category: {{category}}</div>
      <div class="mt-4">
        <b>Features:</b>
        {{#with features}}
          {{#with processor}}
          processor: {{brand}}, {{model}}, {{speed}}, {{cores}} cores, {{cache}} cache </div>
          {{/with}}
          {{#with memory}}
         <div class="mt-1"> memory: {{type}}, {{size}}, {{speed}} </div>
          {{/with}}
          {{#with storage}}
          <div class="mt-1">storage: {{type}}, {{size}} </div>
          {{/with}}
          {{#with display}}
          <div class="mt-1">display: {{size}}, {{resolution}}, {{technology}}, {{color_space}}, {{brightness}}, {{refresh_rate}}</div>
          {{/with}}
          {{#with graphics}}
        <div class="mt-1">  graphics: {{brand}}, {{model}}, {{memory}} </div>
          {{/with}}
          
          ports:
          <ul>
          {{#each ports}}
          <li>
            <div class="mt-1">type: {{type}}</div>
            <div class="mt-1">count: {{count}}</div>
              <ul>
                {{#each features}}
                  <li>
                  <div class=""> {{this}}</div>
                  </li>
                {{/each}}
              </ul>

          </li>
          {{/each}}
          </ul>
          {{#with battery}}
          <div class="mt-1">battery: {{type}}, {{capacity}}, {{life}}</div>
          {{/with}}
           <div class="mt-1">weight: {{weight}}</div>
          {{#with dimensions}}
           <div class="mt-1">dimensions: height: {{height}}, width: {{width}}, depth: {{depth}}</div>
          {{/with}}
           <div class="mt-1">operating system: {{operating_system}}</div>
           <div class="mt-1">accessories: </div>
          <ul>
            {{#each accessories}}
              <li>
                <div class="mt-1">name: {{name}}</div>
                 <div class=" mb-2">price: {{price}}</div>
              </li>
            {{/each}}
          </ul>


        {{/with}}

      </div></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>


      


      </section>
  </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}