

<div class='ms-5'>
  {{#with person}}
    <div class="mt-4"><h1>{{name}}</h1></div>
    
    <div class="mt-4">Age: {{age}} </div>
   
    <div class="my-4">Gender: {{gender}}</div>
    <hr />
   
    {{#with address}}
      <div class="my-4 "><address>Address:
          {{street}},
          {{city}},
          {{state}},
          {{zip}},
          {{country}}</address></div>
    {{/with}}
    
    <hr />
    
    <h2 class="my-4">Education</h2>
    <ul class="my-4">
      <li>
        {{#each education}}
          <div>Degree: {{degree}}</div>
          <br />
          <div>Major: {{major}}</div>
          <br />
          <div>University: {{university}}</div>
          <br />
          <div>Year of graduation: {{graduationYear}}</div>
          <br />
        {{/each}}
      </li>
    </ul>
    
    <hr />
    
    <h2 class="my-4">Work</h2>
    <ul>
      <li>
        {{#each workExperience}}
          <h3 class="my-4">Company: {{company}}</h3>
          
          <div class="my-4">Title: {{title}}</div>
         
          <div class="mt-4">From: <date>{{startDate}}</date> to: <date></date>{{endDate}}</date></div>
          
            <ul>
                {{#each responsibilities}}
                <li>
                  {{this}}
                  </li>
                {{/each}}
            </ul>
         
          <div class="my-4">Founded: <date>{{year_founded}}</date></div>
        
          <div class="my-4">Industry: {{industry}}</div>
        
          <div class="my-4"> <h4>Employees:</h4>
            
            <ul class="my-2">
            {{#each employees}}
            <li class="my-2">
              {{name}},
              {{position}} in
              {{department}} department
             
              Projects:
                <ul class="my-2">
                {{#each projects}}
                  <li>
                   {{name}}
                   ({{description}}),
                   {{status}}
                  
                   Teams:
                  <ul class="mb-3">
                    {{#each teams}}
                    <li>
                    {{team_name}}
                      Team leader: 
                      {{#with team_leader}}
                        {{name}} ({{title}}), email: {{email}}
                      {{/with}}
                      Team members:
                      <ul class="mb-3">
                      {{#each team_members}}
                      <li>
                        {{name}} ({{title}})  
                        email: {{email}} 
                          Skills:
                          <ul class="mb-3">
                          {{#each skills}}
                            <li>
                              {{this}}
                            </li>
                          {{/each}}
                          </ul>
                          Projects:
                          <ul  class="mb-3">
                          {{#each projects}}
                            <li>
                              {{name}} ({{description}}) 
                                Technologies:
                                <ul  class="mb-3">
                                  {{#each technologies}}
                                  <li>
                                        {{this}}
                                  </li>
                                  {{/each}}
                                </ul>
                               Team members: 
                               <ul  class="mb-3">
                                 {{#each team_members}}  
                                <li>
                                  {{name}} ({{title}})
                                </li>
                                {{/each}}

                               </ul>
                            </li>
                          {{/each}}
                          </ul>

                      </li>
                      {{/each}}
                      </ul>

                    </li>
                    {{/each}}
                  </ul>
                {{/each}}
                </ul>
                  
              </li>

            </li>
            {{/each}}
            </ul>

          </div>
        
        {{/each}}
      </li>
    </ul>

    <br />

  {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}