<div class='ms-5 mt-5'>

  <div class="mt-5 "><h1>Program</h1></div>
  <div>
    {{#with program}} 
      <h2 class="mt-4">Excursion</h2>
      {{#with excursion}}
        <h3 class="mt-4">{{name}}</h3>
        {{#with location}}
          <div class="mt-4">Location:
          {{city}},
          {{country}}</div>
        {{/with}}
        <date>{{date}}</date>
        <ul>
        <h4 class="mt-4">Program:
          {{#each program}} </h4>
          <li>
          <div class="mt-2">Name: {{name}}</div>
          <div class="mt-2">Type: {{type}}</div>
          <div class="mt-2">Duration: {{duration}}</div>
            
             <h5 class="mt-4">Details:</h5>
            
            {{#with details}}
              
              {{#if museum}}
              Museum:
              {{#with museum}} <br />
                Name: {{name}} <br />
                Location: {{#with location}}
                  {{address}}, {{city}}, {{country}}
                {{/with}}
                <br/>
                 Exhibits:
                <ul>
                 {{#each exhibits}}
                
                <li>
                  Name: {{name}} <br>
                  {{#if artist}}artist: {{artist}}<br>{{/if}}
                  Description: {{description}}<br>
                  {{#if audio_guide}}audioguide {{/if}}
                </li>
                  {{/each}}
                </ul>
              {{/with}}
              {{/if}}
              {{#if venue}}
                Venue: 
                {{#with venue}}<br>
                 Name: {{name}}<br>
                 Location: {{#with location}} {{address}}, {{city}}, {{country}} <br>  {{/with}}
                {{/with}}<br>
              {{/if}}
                Guide:
              {{#with guide}}<br>
                Name: {{name}}<br>
                Language:{{language}}<br>
                Rating: {{rating}}<br><br>
              {{/with}}
            {{/with}}
          <hr/>
          </li>
        <br />
        {{/each}}
           </ul>
       {{/with}}
    {{/with}}
  </div>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}