{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div class='ms-5'>
  {{#with main}}
  <main>
    <section>
        {{> title data="Work history" big=true}}
        <div>
            <p>
              <ul>
            {{#each works}}
            <li>
              <div class="my-2">{{position}}</div>

             

              <div class="my-4">{{duration.from}} - 
                {{#if duration.to}}{{duration.to}} 
                {{else}} (досі працюю) 
                {{/if}}</div>
              
           

              <div  class="my-4">
                {{#if company.url}}
                {{> link href=company.url text=company.name blank=true noLine=true}}
                {{else}} <b>{{company.name}}</b>
                {{/if}}
                </div>
             
             
              <div  class="my-4"><strong>Projects ({{projectAmount}})</strong></div>
              
              <ul class="my-4">
                {{#each projects}}
                <li>
                  <div class="">{{> link href=url  text=name blank=true noLine=true}}</div>
                 
                  <div class="mt-4">{{about}}</div>
                 
                  <div class="mt-4"><em>Project stacks ({{stackAmount}}) </em></div>
                 
                  <ul class="mt-4">
                  {{#each stacks}}
                  <li>
                  <div>{{name}} </div>
                  {{/each}}
                  </li>
                  </ul>
                 
                  <div class="mt-4"><em>Project awards ({{awardAmount}})</em></div>
                  <br>
                  <ul>
                  {{#each awards}}
                  <li>
                  <div>{{name}} </div>
                  {{/each}}
                  </li>
                  </ul>


                </li>
                {{/each}}
              </ul>
            </li>
            
 


            {{/each}}
            </ul>
            </p>
        </div>
    </section>
{{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}