<div class='row'>
  <div class='col-4'>
    <p>{{number}}</p>
    <h5>{{status}}</h5>
  </div>
  <div class='col-2'>
    <p>{{amount.title}}</p>
    <h5>{{amount.value}}</h5>
  </div>
  <div class='col-4'>
    {{#each images}}
      <img width='61' height='60' src={{this}} />
    {{/each}}

  </div>
  <div class='col-2 mt-2'>
    {{#if button.isPrimary}}
      <a
        type='button'
        href={{button.link}}
        class='btn btn-primary'
      >{{button.text}}</a>
    {{/if}}
  </div>
  <hr />
</div>